{% extends "base.html" %}
{% block title %}<title>Об авторе</title>{% endblock %}
{% load static %}
{% block content %}
  <div class="header"></div>
    <h1>Привет, я Марина! И я люблю программировать,<br>но учусь я не только поэтому.</h1>
    <p>Меня вдохновляет идея привнести в Мир что-то полезное на благо людей<br>
        и сама мысль, что именно я, однажды, приму в этом участие.<br> 
        Я не знаю, в чем именно, для чего и как это сможет помочь,<br>
        но я знаю, что это будет...Согласна, странно звучит.<br> 
        Именно поэтому, каждый день я делаю маленький шаг на Большом пути.<br>
        Мое портфолио: https://github.com/Marymarian</p>
{% endblock %} 