{% extends "base.html" %}
{% block title %}<title>Технологии</title>{% endblock %}
{% load static %}
{% block content %}
<div class="row">
  <div class="header"></div>
    <h1>В создании этого проекта мне помогали ЯП,<br>
        коллектив товарищей-коллег, мой любимый рыжий кот<br>
        и конечно же мои железные нЕрВы!</h1>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>Безусловно, не обошлось без программных инструментов...<br>
           Теперь я знаю, где удобен Django ORM, что такое шаблоны и с чем их едят,<br>
           магию миграций и подпитонные камни пропущенных запятых.</p>
      </article>
</div>
{% endblock %}