{% extends 'base.html' %}
{% load static %}
{% block title %}Новый пост{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">      
          Новый пост            
        </div>
        <div class="card-body">       
          <form method="post" action="{% if is_edit %}{% url 'posts:post_edit' post_id=form.instance.id %}{% else %} {% url 'posts:post_create'%} {% endif %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}         
            <div class="form-group row my-3 p-3" {% if field.field.required %} aria-required="true" {% else %} aria-required="false" {% endif %}>
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.field.required %}             
                <span class="required text-danger" >*</span> 
                {% endif %}                
              </label>
              {{ field|addclass:'form-control' }}
                {% if field.help_text %}              
              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                {{ field.help_text|safe }}
              </small> 
              {% endif %}                
            </div> 
            {% endfor %}          
            <div class="col-md-6 offset-md-10">
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}
                Сохранить
                {% else %}
                Добавить
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}