{% extends 'base.html' %}
{% block title %}<title>{{group.title}}</title>{% endblock %}
{% load static %}
{% block content %}
{% load thumbnail %}
  <div class="container py-5">
    <h1>{{group.title}}</h1>
    <p>{{group.description}}</p>
    <article>
      {% for post in page_obj %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        {% thumbnail post.image "960x500" crop="center" upscale=True as im %}
         <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}       
        <p>{{ post.text }}</p>       
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %} 
    </article>
  </div>  
{% endblock %}